.loaderWrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  .loader {
    display: block;
    width: 100px;
    height: 100px;
    background: #ffffff;
    border-radius: 50%;
    position: relative;
    animation: skLinRotate 1s ease-in-out infinite alternate;
  }
  .loader:after {
    content: "";
    position: absolute;
    inset: 5px;
    border-radius: 50%;
    border: 10px solid transparent;
    border-top-color: #eb4b1a;
  }
}

@keyframes skLinRotate {
  95%,
  100% {
    transform: rotate(840deg);
  }
}
