$color-main: #a5a1a1;

.inputWrapper {
  width: 100%;
  position: relative;
  margin: 2px;
  input {
    $padding: 25px;
    $adjusted-padding: $padding + 15px;
    width: calc(100% - $adjusted-padding);
    height: 40px;
    padding-left: $padding;
    opacity: 0.9;
    border: 2px solid $color-main;
    border-radius: 5px;
    &:focus + .icon {
      animation: shake 0.23s ease-in-out;
      animation-iteration-count: 2;
    }
    &:focus,
    &:hover {
      outline: none;
      opacity: 1;
    }
  }
  .icon {
    position: absolute;
    transition: 0.3s all ease-in;
    left: 5px;
    top: 14px;
  }
}

@keyframes shake {
  0% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(5deg);
  }
}
